@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700');
* {margin:0;padding:0;box-sizing:border-box;}

a{
	color: #5a5858;
	text-decoration: none;
}

#header {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	margin: auto;
}

nav {
	float: right;
}

nav a:hover {
	border-bottom: 2px solid red;
		
}


nav a:link {
	text-transform: uppercase; 
	/*display: inline-block; */
	margin: 0 15px;
	padding-bottom: 5px;
	text-align: center;
	
}

body {
	font-family: "Barlow Condensed", "Arial", sans-serif;	
	font-size: 20px; /* 1em = 20px*/
	color: #5a5858;
}

h1{
	font-weight: bold;
	font-size: 32px;
	text-decoration: none;
	text-transform: uppercase;
}

h2{
	font-weight: 400;
	font-size: 24px;
	text-decoration: none;
	padding: 0;
	/* nbackground-color: #9cb9c4; */
}

p {
	padding-bottom: 10px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


.wrapper {
	   /* background-color: orange; */
	   width: 80%;
	   margin: auto;
}

main {
	width: auto; 
}

.project {
	float: left;
	clear: auto;
	width: 30%;
	padding: 20px 0px;
	border: 0px;
	margin: 15px;
	/* background-color: #9cb9c4; */
}

img {
	width: 100%
}

#logo {
	float: left;
	width: 6%;
	margin-right: 10px;
}

footer {
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
	border-top: 1px solid red;
}

/*.three-column {
	width: auto
} */

/*img a:hover{
	clear: auto;

} */

/*.clearfix {
	overflow: auto;
 	
} */