@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700');
* {margin:0;padding:0;box-sizing:border-box;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	color: #5a5858;
	text-decoration: none;
}

#header {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	margin: auto;
}

nav {
	float: right;
}

nav a:hover {
	border-bottom: 2px solid red;
}


nav a:link {
	text-transform: uppercase; 
	/*display: inline-block; */
	margin: 0 .5em;
	padding-bottom: 5px;
	text-align: center;
	
}

body {
	font-family: "Barlow Condensed", "Arial", sans-serif;	
	font-size: 18px; /* 1em = 18px*/
	color: #5a5858;
}

h1{
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
	text-transform: uppercase;
}

h2{
	font-weight: 400;
	font-size: 1.3em;
	text-decoration: none;
	padding: 0;
	/* background-color: #9cb9c4; */
}

p {
	padding-bottom: .5em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


.main {
	   background-color: orange;
	   width: 80%;
	   margin: 0 auto;
}

/* main {
	width: auto; 
	width: 80%;
	margin: 0 auto;
} */

.project {
	float: left;
	clear: auto;
	width: 30%;
	padding: 0px 0px 0px 0px;
	border: 0px;
	margin: 1em;
	background-color: #9cb9c4;
}

img {
	width: 100%
	

}

#logo {
	float: left;
	width: 6%;
	margin-right: 10px;
	/* min-width: 5em;
	max-width: 10em; */
}

footer {
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
	border-top: 1px solid red;
}

@media only screen and (max-width: 1364px) {
	.project {
		float: left;
		clear: auto;
		width: 30%;
		padding: 0px 0px 0px 0px;
		border: 0px;
		margin: 1em;
		
	}



}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.project {
		float: none;
		width: 100%;
		margin: 0 0 0 1em;
	}

	body {
		font-size: 16px;
	}

	header {

	}

	.main {
		float: none;
		width: 80%;
	}

	#logo {
		float: none;
		width: 3em;
		margin: auto;
		/* min-width: 5em;
		max-width: 10em; */
	}

	h1 {
		float: none;
	}

	nav {
		float: none;
		padding: 0;
		margin: .5em;
		text-align: center;
	}

	h2 {
		font-size: 1.25
		margin: 0 auto;
		padding: .75em 0em .75em;
	}

	p {
		margin: 0 auto;
	}

}



/*.three-column {
	width: auto
} */

/*img a:hover{
	clear: auto;

} */

/*.clearfix {
	overflow: auto;
 	
} */