@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700');

a{
	text-decoration: none; 
}

h1{
	font-family: "Barlow Condensed", "Arial", sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: #5a5858;
	text-decoration: none;
	text-transform: uppercase;
}

h2{
	font-family: "Barlow Condensed", "Arial", sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #5a5858;
	text-decoration: none;	
}

nav{
	color: #5a5858;
	text-transform: uppercase;
}

p{
	font-family: "Barlow Condensed", "Arial", sans-serif;	
	font-size: 24px;
	text-decoration: none;
}
